WebClient/Service References/Calculator/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContractDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContractDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value1" type="xs:int" />
      <xs:element minOccurs="0" name="Value2" type="xs:int" />
      <xs:element minOccurs="0" name="operation" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:simpleType name="Operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="ADD" />
      <xs:enumeration value="SUB" />
      <xs:enumeration value="DIV" />
      <xs:enumeration value="MUL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="FAILURE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>